.ancho{
	width: 100%;
	border: 1px solid #000;
}
.izq{
	width: 15%;
	text-align: center;
	border-right: 1px solid #000;
}
.der{
	width: 85%;
	text-align: center;
}
.izq2{
	width: 15%;
	text-align: left;
}
.dia{
	width: 2.74%;
	text-align: center;
}
.estacion{
	width: 15%;
	text-align: center;
	background-color: #DAFFDA;
}
.diaN{
	width: 2.74%;
	text-align: center;
	background-color: #DBDBDB;
}
.nombre{
	width: 15%;
	text-align: center;
	background-color: #DBDBDB;
}